/*------------------------MEDIA QUERIES---------------------------------*/
* {
    box-sizing: border-box;
}

[class*="col-"]{
    float: left;
    width: 100%;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*
    .pippo{
        background-color: blue;
    }
    */
}
/*----------------------------------------------------------------------*/

/* Colore ovviamente provvisorio. Il margin a 0 è per eliminare il margine di default del body */
body{
    background-color: darkgrey; 
    margin: 0;
    font-family: sans-serif; /* provvisorio */
}

/* L'utilizzo della flexbox ci permette di allineare senza sforzo gli elementi. Vi consiglio di buttarci un 
 * occhio su w3school. 
 * align-items: center allinea il centro degli elementi sulla stessa riga senza che ci stressiamo
 * con posizioni e quant'altro. */
header{
    display: flex;
    align-items: center;
}

nav > ul {
    list-style-type: none;
    display: flow-root;
    /*justify-content: space-evenly;*/
}

nav > ul a {
    text-decoration: none;
    color: white; /* provvisorio */
    font-weight: bold;
}

nav > ul a:hover{
    color: black; /* provvisorio */
}

/*nav li{
    border-right: 2px solid #111111;    
}

nav li:last-child{
    border-right: 0px solid; /*l'ultimo elemento della navbar non ha la barra a destra'*/
/*}*/

nav {
    /* display: inline-block; */
    /* width:100%; */
    justify-content: center;
    height: fit-content;
    background-color: red; /*provvisorio*/
}

.card {
    border-radius: 1em;
    background-color: chocolate;
    text-align: center;
    padding: 1em;
    max-width: fit-content;
    margin: 0.5em;
}
