/*------------------------MEDIA QUERIES---------------------------------*/
* {
    box-sizing: border-box;
}
html{
    /*overflow-x:hidden;*/ //Nasconde la scrollbar laterale ma è una merda così
}

[class*="col-"]{
    float: left;
    width: 100%;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*
    .pippo{
        background-color: blue;
    }
    */
}
/*----------------------------------------------------------------------*/

/* Colore ovviamente provvisorio. Il margin a 0 è per eliminare il margine di default del body */
body{
    background-color: #000000; 
    margin: 0;
    font-family: sans-serif; /* provvisorio */
    color:white;
}

/* L'utilizzo della flexbox ci permette di allineare senza sforzo gli elementi. Vi consiglio di buttarci un 
 * occhio su w3school. 
 * align-items: center allinea il centro degli elementi sulla stessa riga senza che ci stressiamo
 * con posizioni e quant'altro. */
header{
    display: flex;
    align-items: center;
    background-color: #000000;
}

.active{
    font-style: italic;
    font-weight: bold;
    
}
nav > ul {
    list-style-type: none;
    display: flow-root;
    /*justify-content: space-evenly;*/
}

nav > ul a {
    text-decoration: none;
    color: white; /* provvisorio */
    font-weight: bold;
}

nav > ul a:hover{
    color: black; /* provvisorio */
}

nav {
    border-radius: 10px 10px 10px 10px; 
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: #950101; /*provvisorio*/
  
}

.card{
    /* border-radius: 1em; */
    border-radius: 10px 10px 10px 10px; 
    background-color: #950101;
    text-align: center;
    /* padding: 1em; */
    /* max-width: fit-content; */
    margin: 0.5em;
    min-width: max-content;
    color: white;
}

.card > img {
    float: left;
    border-radius: 10px 10px 10px 10px; 
    margin-right: 0.3em;
}

.card > p {
    text-align: justify;
    margin-right: 0.3em;
    color:white;
}

footer{
    background-color: #000000;
    display:flex;
    height:220px;
}

input.myButton{
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color:#c62d1f;
    border-radius:18px;
    border:1px solid #d02718;	
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05,
}
 
input.myButton:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
}
input.myButton:active { 
    position:relative;
    top:1px;
}
