/*------------------------MEDIA QUERIES---------------------------------*/
* {
    box-sizing: border-box;
}
html{
    /*overflow-x:hidden;*/ /*Nasconde la scrollbar laterale ma è una merda così*/
}

[class*="col-"]{
    float: left;
    width: 100%;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*
    .pippo{
        background-color: blue;
    }
    */
}
/*----------------------------------------------------------------------*/

/* Colore ovviamente provvisorio. Il margin a 0 è per eliminare il margine di default del body */
body{
    background-color: #000000; 
    margin: 0;
    font-family: sans-serif; /* provvisorio */
    color:white;
}

/* L'utilizzo della flexbox ci permette di allineare senza sforzo gli elementi. Vi consiglio di buttarci un 
 * occhio su w3school. 
 * align-items: center allinea il centro degli elementi sulla stessa riga senza che ci stressiamo
 * con posizioni e quant'altro. */
header{
    display: flex;
    align-items: center;
    background-color: #000000;
}

.active{
    font-style: italic;
    font-weight: bold;
    
}
nav li{
   list-style-type:none;
   border-right:2px solid #111111;
   padding-top: 3px;
}
nav li:last-child{
    border-right:0px solid #111111;
    float:right;
}
nav > ul {
    list-style-type: none;
    display: flow-root;
}

nav > ul a {
    text-decoration: none;
    color: white; /* provvisorio */
    font-weight: bold;
}

nav > ul a:hover{
    color: black; /* provvisorio */
}

nav {
    display:flex;
    border-radius: 10px 10px 10px 10px; 
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: #950101;
    /*position:sticky;*/ /*Sta merda non funziona non capisco perchè, divertitevi a scoprirlo!*/
    
}

.card{
    border-radius: 10px 10px 10px 10px; 
    background-color: #950101;
    text-align: center;
    margin: 0.5em;
    min-width: max-content;
    color: white;
}

.card > img {
    float: left;
    border-radius: 10px 10px 10px 10px; 
    margin-right: 0.3em;
}

.card > p {
    text-align: justify;
    margin-right: 0.3em;
    color:white;
}

footer{
    display:flex;
    position:absolute;
    text-align:center;
    background-color:#950101;
    align-content:center;
    margin-top:50%;
}

.names li {
    list-style-type:none;
    float:left;
    padding:0 10px;
    padding-bottom:1%;
}
.names ul{
    padding:0;
    list-style:none;
    text-align:center;
    line-height:1.6;
    margin-bottom:0;
}

.names a{
    color:white;
    text-decoration:none;
    font-weight: bold;
    
}

.names{
    margin:0 auto;
}

.contacts{
    margin:0 auto;
    position:relative;
    left:15%;
}

input.myButton{
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color:#c62d1f;
    border-radius:18px;
    border:1px solid #d02718;	
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
 
input.myButton:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
}
input.myButton:active { 
    /* position:relative; */
    top:1px;
    right:50px;
}

input.loginButton{
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color:#c62d1f;
    border-radius:18px;
    border:1px solid #d02718;	
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;   
    margin-right:126px;
}
 
input.loginButton:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
}

.login{
   box-shadow: 3px 4px 0px 0px #8a2a21;
   padding:20px;
   margin:0;
   margin-left: 40%;
   margin-top:10%;
   height: auto;
   background-color: white;
   color:red;
   border-radius: 10px 10px 10px 10px;
   width:20%;
  
}

.login form{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height:25%;
   padding: 20px;

}

.login input{;
    margin:20px;
}

.registrazione{
    display:none; /*Temporanemanete lo nascondo perchè mi disturba*/
}

.about{
    height: 15%;
    width: 100%;

}

.about_img{
    width: 10%;
    height: 10%;
}
